.landing {
  background: image-url('landing-bg.jpg') no-repeat fixed center;
  background-size: cover;
}

.landing-header {
  font-family: Helvetica;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.landing-img {
  font-family: Helvetica;
  height: 700px;
  display: flex;
  align-content: center;
  justify-content: center;
}