.landing {
  font-family: Helvetica;
}

//
// HEADER
//

.landing-header {
  background-color: #F1F1F1;
  height: 55px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding-top: 18px;

  .logo {
    padding-right: 300px;
    font-size: 19px;
  }
  // position: absolute;
  // padding: 10px 16px;
  // display: flex;
  // justify-content: center
  // top: 0;
  // left: 0;
  // width: 100%;
  // height: auto;
  // min-height: 100%;
  // z-index: 1;
  // flex-direction: row;
  // justify-content: space-around;


  // button {
  //     display: inline-block;
  //     color: #fff;
  //     font-size: 12px;
  //     line-height: 1.33341;
  //     font-weight: 400;
  //     letter-spacing: -.01em;
  //     border-radius: 12px;
  //     padding: 3px 11px;
  //     background: #ff2f56;
  //     border-color: #ff2f56;

}

.landing-nav {
  display: flex;
  flex-direction: row;
}
.landing-nav-menu {
  display: flex;
  flex-direction: row;
}
.landing-nav-signup {
  color: #fff;
  display: flex;
  align-content: center;
  justify-content: center;
  width: 85px;
  box-sizing: border-box;
  height: 30px;
  font-size: 14px;
  background: #ff2f56;
  border-color: #ff2f56;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
// .landing-nav-menu {
//   padding-right: 20px;
// }






//
// MAIN LANDING
//
.landing-content {
  text-align: center;
  padding-top: 220px;

  button {
    color: #fff;
    display: block;
    width: 250px;
    margin: 32px auto 0;
    box-sizing: border-box;
    height: 36px;
    font-size: 17px;
    background: #ff2f56;
    border-color: #ff2f56;
  }
}


.landing-hero {
  min-height: 1070px;
  max-height:1590px;
  font-size: 64px;
  background: image-url('bookcase-cropped.png');
  background-size: cover;
  h1 {
    font-weight: 550;
  }
}

.landing-canvas {
  width: 100%;
  // min-height: 800px;
  // max-height:1080px;
  height:1080px;
  background: image-url('canvas-bg.png');
  background-size: cover;

  color: #fff;
  // direction: ltr;
  // display: block;
  // font-size: 17px;
  // font-weight: 400px;
  // height: 1080px;
  // max-height: 1080px;
  // min-height: 1000px;
  // position:absolute;
  // text-align: left;
  h2 {
    padding-top: 220px;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.07143;
    letter-spacing: -.005em;

  }
  h3 {
    padding-top: 20px;

    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    letter-spacing: .004em;
    margin-top: 4vh;
    opacity: 1;
  }

}

.landing-cards {
  font-size: 50px;
  width: 100%;
  min-height: 800px;
  max-height:860px;
  padding: 40px;

  h2 {
    padding-top: 150px;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
  }
}

.landing-program-guide {
  background-color: #fafafa;
  width: 100%;
  min-height: 800px;
  max-height:860px;
  padding: 40px;
  h1 {
    font-size: 50px;
    padding-top: 150px;
  }
}

.landing-footer {
  background: image-url('canvas-bg.png');
  color: #fff;
  width: 100%;
  min-height: 700px;
  max-height:860px;
  h2 {
    font-size: 48px;
    padding-top: 150px;
  }
  h3 {
    font-size: 21px;
  }
}