.session-form-container {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: image-url('bg-session.jpg');
    background-size: cover;
    min-height: 1370px;
    max-height:1590px;
}

.session-form-logo {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}

.session-form-icon {
  margin: auto;
  width: 50%;
  background: image-url('icon2.png') no-repeat;
  background-size: contain;
  height: 75px;
  width: 75px;

  padding-bottom: 50px;
}

.session-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;

    background-color: #F1F1F1;
    width: 500px;
    height: 500px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    box-shadow: 10px 10px 5px black;

}

// .session-form-header {
//     p {
//         align-self: center;
//     }
// }

.session-form-input {
    form {
        margin: auto;
        width: 50%;
        display: flex;
        flex-direction: column;
    }
    input {
        margin: 8px;
        width: 200px;
        padding: 9px;
        border: 2px solid gray;
        border-radius: 4px;
    }
    p {
        text-align: center;
        font-size: 25px;
        padding-bottom: 20px;
    }

    button {
        margin: 20px;      
        text-align: center;
        align-self: center;
        height: 40px;
        width: 140px;
        box-sizing: border-box;

        color: #fff;
        background: #ff2f56;
        border-color: #ff2f56;
        border-bottom-left-radius: 12px;
        border-bottom-right-radius: 12px;
        border-top-left-radius: 12px;
        border-top-right-radius: 12px;
    }
}