.browse-container {
    color:whitesmoke;
    background-color: #1d1f22;

    height: 100%;
    width: 100%;
    min-height: 1200px;
    h3 {
        margin-top: 50px;
        margin-left: 50px;
    }
}

.featured-artists {

}
.feature-bowie {
    background: image-url('feature-bowie.jpg');
    background-size: contain;
    width: 800px;
    height: 450px;
    p {
        display:flex;
        justify-content: flex-end;
        font-size: 40px;
        padding-top: 15px;
        padding-right:15px;
        font-family: Georgia, 'Times New Roman', Times, serif
    }
}
.feature-prince {
    background: image-url('feature-prince.jpg');
    background-size: contain;
    width: 800px;
    height: 500px;
    margin-left: 41px;
    margin-right: 50px;
}
.feature-daftpunk {
    background: image-url('feature-daftpunk.jpg');
    background-size: contain;
    width: 800px;
    height: 475px;
}

#slideshow {
  overflow: hidden;
  width: 800px;
  height: 450px;
  margin: 0 auto;
}
.slide-wrapper {
    display: flex;
    width: 2400px;
    -webkit-animation: slide 30s ease infinite;
}
.slide {
  float: left;
  height: 510px;
  width: 730px;
}
@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -820px;}
  50% {margin-left: -820px;}
  70% {margin-left: -1675px;}
  90% {margin-left: -1675px;}
}

.featured-album-index {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.featured-album-bold {
    background: image-url('feature-album-bold.png');
    background-size: contain;
    height: 200px;
    width: 200px;
}
.featured-album-d4 {
    background: image-url('feature-album-d4.jpg');
    background-size: contain;
    height: 200px;
    width: 200px;
}
.featured-album-box {
    background: image-url('feature-album-box.jpg');
    background-size: contain;
    height: 200px;
    width: 200px;
}


.featured-playlist-index {
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: -apple-system, BlinkMacSystemFont, 
        'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 
        'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 45px;
}

.featured-playlist-1 {
    background: image-url('card-red.png');
    background-size: contain;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-playlist-2 {
    background: image-url('card-purple.png');
    background-size: contain;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.featured-playlist-3 {
    background: image-url('card-blue.png');
    background-size: contain;
    height: 200px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}