
//
// HEADER
//

.landing-header {
  background-color: #F1F1F1;
  height: 50px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-around;
  padding-top: 18px;

}

.landing-nav {
  display: flex;
  flex-direction: row;
}


.landing-nav-signup {
  margin-left: 18px;
  button {
      padding-left:10px;
      color: #fff;
      box-sizing: border-box;
      //   display: flex;
      //   align-content: center;
      //   justify-content: center;
      width: 85px;
      height: 30px;
      font-size: 14px;
      background: #ff2f56;
      border-color: #ff2f56;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
      border-top-left-radius: 12px;
      border-top-right-radius: 12px;
  }
}
.landing-nav-jumpers {
  margin-top: 7px;
  a {
    margin-left:20px;
  }
}
// .landing-nav-menu {
//   padding-right: 20px;
// }
.header-logo {
    display: flex;
    align-items: center;
    font-size: 22px;
    font-weight: 700;
    padding-bottom: 25px;
}

.header-icon {
    background: image-url('icon-eyemusic-logo.png') no-repeat;
    background-size: contain;
    height: 40px;
    width: 40px;
}
