.landing {
  font-family: Arial, Helvetica, sans-serif;;
}

//
// MAIN LANDING
//


.landing-content {
  text-align: center;
  align-content: center;
  padding-top: 220px;

  button {
    color: #fff;
    display: block;
    width: 250px;
    margin: 32px auto 0;
    box-sizing: border-box;
    height: 36px;
    font-size: 17px;
    background: #ff2f56;
    border-color: #ff2f56;
  }
}

.landing-logo {
  margin: auto;
  width: 50%;
  background: image-url('icon-eyemusic-logo.png') no-repeat;
  background-size: contain;
  height: 100px;
  width: 100px;

  padding-bottom: 50px;
}


.landing-hero {
  min-height: 1420px;
  max-height:1590px;
  font-size: 64px;
  background: image-url('bookcase-cropped.png');
  background-size: cover;
  h1 {
    font-weight: 550;
  }
}

.landing-canvas {
  width: 100%;
  // min-height: 800px;
  // max-height:1080px;
  height:1080px;
  background: image-url('bg-canvas.png');
  background-size: cover;

  color: #fff;
  // direction: ltr;
  // display: block;
  // font-size: 17px;
  // font-weight: 400px;
  // height: 1080px;
  // max-height: 1080px;
  // min-height: 1000px;
  // position:absolute;
  // text-align: left;
  h2 {
    padding-top: 220px;
    padding-bottom: 80px;
    font-size: 56px;
    font-weight: 600;
    line-height: 1.07143;
    letter-spacing: -.005em;

  }
  h3 {

    font-size: 32px;
    line-height: 1.125;
    font-weight: 600;
    margin: 30px;
    // letter-spacing: .004em;
    // margin-top: 4vh;
    opacity: 1;
  }

}

.landing-cards-container {
  margin-top: 100px;
  font-size: 50px;
  width: 100%;
  min-height: 800px;
  max-height:860px;
  padding: 40px;
  background: image-url('music-guy.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  h2 {
    padding-top: 50px;
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
  }
}
// .landing-cards-index {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
// }
// .landing-cards-index-card1 {
//     background: image-url('music-guy.png');
//     background-size: contain;
//     height: 600px;
//     width: 400px;
// }





.landing-program-guide {
  background-color: #fafafa;
  width: 100%;
  min-height: 800px;
  max-height:860px;
  padding: 40px;
  h1 {
    font-size: 50px;
    padding-top: 50px;
  }
}

.landing-footer {
  background: image-url('bg-canvas.png');
  color: #fff;
  width: 100%;
  min-height: 700px;
  max-height:860px;
  h2 {
    font-size: 48px;
    padding-top: 150px;
  }
  h3 {
    font-size: 21px;
  }
}

.featured-artists-slideshow {
  p {
    color: #fff;
  }
}
#landing-slideshow {
  overflow: hidden;
  width: 800px;
  height: 450px;
  margin: 0 auto;
}
.landing-slide-wrapper {
    display: flex;
    width: 2400px;
    -webkit-animation: slide 30s ease infinite;
}
@-webkit-keyframes slide {
  20% {margin-left: 0px;}
  30% {margin-left: -820px;}
  50% {margin-left: -820px;}
  70% {margin-left: -1675px;}
  90% {margin-left: -1675px;}
}