// ALBUM INDEX
.album-index-container {

}

.album-index {
    display: flex;
    flex-wrap: wrap;
    img {
        height: 200px;
        width: 200px;
        margin: 2px;
    }
}

.album-index-item {

}

// ARTIST INDEX
.artist-index {
    display: flex;
    flex-direction: column;
    img {
        height: 100px;
        width: 100px;
        margin: 2px;
        border-radius: 50px 50px 50px 50px;
    }
}

.artist-index-item {
    display:flex;
}

.artist-index-detail {
    img {
        height: 100px;
        width: 100px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;  
    }
}

// SONG INDEX
.song-index-container {

}

.song-index {
    img {
        height: 50px;
        width: 50px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;  
    }
}

.song-index-item {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.song-index-item-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;

}