// ALBUM INDEX
.album-index-container {
    display: flex;
}

.album-index {
    display: flex;
    flex-wrap: wrap;
    img {
        height: 200px;
        width: 200px;
        margin: 2px;
    }
}
.album-index img:hover {
}

.album-index-item {
    position: relative;
}
.album-index-item img {
    position: relative;
    z-index: 0;
}
.album-index-item img:hover {
    z-index: 0;
}
.album-index-item img:hover:after {
}
.album-index-detail-container {
    padding:10px;
    position: absolute;
    bottom: 2px;
    width: 200px;
    align-items: center;
    display: flex;
    justify-content: center;
    display:flex;
    background-color: rgba(27, 27, 27, 0.7);
}
.album-index-detail-container:hover {
    font-weight: 400;
}
.album-index-detail-container button {
    height: 100%;
    width: 100%;
    font-weight: 900;
}
// .album-index-detail-container:hover {
//     opacity: 0.5;
//     display:flex;
//     background-color: black;
// }

// ARTIST INDEX
.artist-index-container {
    display: flex;
    overflow: hidden;
}
.artist-index {
    height: 85vh;
    display: flex;
    flex-direction: column;
    overflow: auto;
    img {
        height: 80px;
        width: 80px;
        margin: 2px;
        border-radius: 50px 50px 50px 50px;
    }
}

.artist-index-item {
    display:flex;
    align-items: center;
    border-bottom: solid 2px white;
    p {
        padding-left: 10px;
        padding-right: 5px;
    }
}
.artist-index-item:hover {
    background-color: lightslategrey;
}

.artist-index-detail {
    width: 80%;
    img {
        height: 200px;
        width: 200px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;  
    }
    ul {
        margin-left: 30px;
    }
    li {
        display: flex;
        align-items: center;
    }
}

.artist-index-details-show {
    width: 50%;
    display: flex;
    flex-direction: column;
    button {
        padding: 4px;
    }
}

.artist-index-detail-song-item {
    padding: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}
.artist-index-detail-song-item:hover {
    background-color: lightslategrey;
}

// SONG INDEX
.song-index-container {

}

.song-index {
    img {
        height: 50px;
        width: 50px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;  
    }
}

.song-index-item {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}
.song-index-item:hover {
    background-color:lightgray;
    color: black;
}

.song-index-item-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

}
.song-index-item-details-songtitle {
    width: 35%;
}
.song-index-item-details-artistinfo {
    width: 35%;
}
.song-index-item-details-albumtitle {
    width: 20%;
}
.song-index-item-details-playlist-button {
    padding-left: 15px;
}
