// ALBUM INDEX
.album-index-container {
    display: flex;
}

.album-index {
    display: flex;
    flex-wrap: wrap;
    img {
        height: 200px;
        width: 200px;
        margin: 2px;
    }
}

.album-index-item {

}

// ARTIST INDEX
.artist-index-container {
    display: flex;
}
.artist-index {
    display: flex;
    flex-direction: column;
    img {
        height: 100px;
        width: 100px;
        margin: 2px;
        border-radius: 50px 50px 50px 50px;
    }
}

.artist-index-item {
    display:flex;
    align-items: center;
}

.artist-index-detail {
    img {
        height: 200px;
        width: 200px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;  
    }
    ul {
        margin-left: 30px;
    }
    li {
        display: flex;
        align-items: center;
    }
}

.artist-index-details-show {
    display: flex;
    flex-direction: column;
    button {
        padding: 4px;
    }
}

.artist-index-detail-song-item {
    padding: 5px;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
}


// SONG INDEX
.song-index-container {

}

.song-index {
    img {
        height: 50px;
        width: 50px;
        margin: 2px;
        border-radius: 10px 10px 10px 10px;  
    }
}

.song-index-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid lightgray;
}

.song-index-item-details {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-start;

}
.song-index-item-details-songtitle {
    width: 35%;
}
.song-index-item-details-artistinfo {
    width: 35%;
}
.song-index-item-details-albumtitle {
    width: 20%;
}