.browse-container {
    margin-top: 102px;
}

.library-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}

.library-nav {
    color: whitesmoke;
    background-color: #333333;
    width: 18%;
    padding: 6px;
    position: fixed;
    margin-top: 102px;
    height: 100%;
    font-family: verdana;
}

.library-nav-items{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    p {
        font-weight: 600;
    }
}

.library-nav-items-btns {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 10px;

}

.library-nav-playlists {
    p {
        font-weight: 600;
    }
}
.library-nav-playlist-items {
    margin-top: 10px;
    margin-left: 10px;
}
.library-nav-playlist-create {
    margin-top: 20px;
    margin-left: 10px;
}
.library-nav-items-btns-each {
    padding-bottom: 4px;
}

.library-nav-socials {
    width: 18%;
    position: fixed;
    bottom: 40px;
}
.library-nav-social-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 40px;
    :hover {
        color: lightgray;
    }
}

.playlist-nav-index-item {
    padding-bottom: 6px;
}

.library-main {
    color:whitesmoke;
    background-color: #1d1f22;
    width: 80%;
    padding: 6px;
    margin-top: 102px;
    position: absolute;
    right:0;
    height: 100%;
    overflow-x: auto;
    font-family: verdana;
}