.player-container {
    height: 55px;
    padding: 5px;
    color: white;
    background-color: #333333;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.player-container-items {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 30px;
}

.music-player-btns {
    display: flex;
    align-items: center;
}
.music-player-btns button:hover {
    filter: brightness(50%);
}

.music-player-btns-prev {
    background: image-url('icon-rewind.png');
    background-size: contain;
    height: 30px;
    width: 30px;
}

.music-player-btns-play {
    background: image-url('icon-play.png');
    background-size: contain;
    height: 50px;
    width: 50px;
}
.music-player-btns-pause {
    background: image-url('icon-pause.png');
    background-size: contain;
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
    height: 38px;
    width: 38px;
}

.music-player-btns-next {
    background: image-url('icon-fastforward.png');
    background-size: contain;
    height: 30px;
    width: 30px;
}

.music-player-btns-mute {
    background: image-url('icon-mute.png');
    background-size: contain;
    height: 30px;
    width: 30px;
    margin-left: 15px;
}


.search-btn {
    background: image-url('icon-search.png');
    background-size: contain;
    height: 40px;
    width: 40px;
    margin-top: 8px;
}
.search-btn:hover {
    filter: brightness(50%);
}



// Volume range and button
.volume-bar {
    padding: 10px;
    float: right;
    display: flex;
    align-items: center;
}

#volume-button {
    background-color: Transparent;
    font-size: 15px;
    color: hsl(0, 0%, 70%);
    border-color: transparent;
    transition-duration: 50ms;
    &:focus {
        outline: none;
    }
    &:hover {
        // transform: scale(1.1);
        transition-duration: 66ms;
        color: #fff;
    }
}

.volume-progress-bar {
    z-index: 500;
    position: relative;
    top: -20px;
    width: 110px;
    cursor: pointer;
    background-color: transparent;
    color: transparent;
    -webkit-appearance: none;
    //   height: 3px;
    //   outline: 0;
}

.volume-progress-bar::-webkit-slider-thumb {
    visibility: hidden;
}

.volume-bar-wrapper {
    //   display: flex;
    //   flex-flow: column-reverse;
    width: 110px;
    margin-left: 5px;
}

.outer-volume-bar {
    width: 100%;
    background-color: rgb(204, 204, 204);
    height: 3px;
    border-radius: 55px;
    z-index: -2;
}

.inner-volume-bar {
    position: relative;
    top: -35px;
    background-color: #1db954;
    height: 4px;
    border-radius: 55px;
}

.progress-ball-volume {
    position: relative;
    top: -42px;
    bottom: 7px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: rgb(238, 238, 238);
    margin: 0;
    opacity: 0;
    transition: opacity 0.2s;
}

.volume-bar-wrapper:hover .progress-ball-volume {
    opacity: 1;
    border-radius: 55px;
}


.music-player-display {
    display: flex;
    flex-direction: row;
}