.player-container {
    height: 55px;
    display: flex;
    flex-direction: row;
    color: white;
    background-color: #333333;

    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}