.navbar-container {
  height: 35px;
  color: whitesmoke;
  background-color: #202020;
  border-bottom: 2px solid #3e3e3e;
  padding: 5px;
}

.navbar-index {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  button {
    margin:5px;
  }
}


.navbar-history-back {
  background: image-url('icon-backbutton.png') no-repeat;
  background-size: contain;
  height: 25px;
  width: 45px;
}

.navbar-history-forward {
  background: image-url('icon-forward.png') no-repeat;
  background-size: contain;
  height: 25px;
  width: 45px;
}

.navbar-profile {
  font-family: verdana;

}