.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    height: 35px;
    color: whitesmoke;
    background-color: #202020;
    border-bottom: 2px solid #3e3e3e;
    padding: 5px;
}

.navbar-profile {
    display:inline-flex;
}