.search-container {
    padding: 20px;
    margin-top: 150px;
    color: whitesmoke;
    background-color: #1d1f22;
    height: 100%;
    width: 100%;
    min-height: 1200px;
    font-family: verdana;
}

.search-bar-text {
    width: 90vw;
    height: 10vh;
    font-size: 30px;
}

.search-results {
    display: flex;
    h1 {
        font-size: 26px;
        margin-right: 8px;
        font-style: oblique;
    }
}

// SEARCH RESULTS
.search-all-artists {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 20px;
}
.search-all-albums {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 20px;
}
.search-all-playlists {
    display: flex;
    flex-direction: column;
    padding: 10px;
    padding-right: 20px;
}

