.search-container {
    margin-top: 150px;
    color: whitesmoke;
    background-color: #1d1f22;
    height: 100%;
    width: 100%;
    min-height: 1200px;
    font-family: verdana;
}

.search-results {
    display: flex;
    h1 {
        margin-right: 8px;
    }
}

.search-all-artists {
    display: flex;
    flex-direction: column;
}