<% if logged_in? %>
    <script>
        window.currentUser = <%= render(
            "api/users/user.json.jbuilder", 
            currentUser: current_user
        ).html_safe %>
    </script>
<% end %>
    


<div id="root">
    iMusic So Sleepy...
</div>